* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding/borders don’t break layout */
}

body {
    font-family: "Poppins", sans-serif;
    background: #FFFFF3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, #8eefe4, #0d45fd);
}

.container {
    position: relative;
    left: 50%;
    width: 420px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.15); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    color: #000; 
}

#input-box {
    width: 100%;
    height: 60px;
    font-size: 32px;
    text-align: right;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWJjbmRqNWd6aGdqdzJ2ejRtanE1Nzc2dm1tcnI0NXpkZnUwMDNxcyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/HBWbIuHvXI2Eo/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

.clear {
    width: 100%; /* Full width for better alignment */
    font-size: 24px;
    background: #FFB433;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
}

.clear:hover {
    background:linear-gradient(to bottom, #FF4365, #FFB433);
}

.all-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.butt {
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 24px;
    background: #FFB433;
    color: #fff;
    border: none;
    padding: 15px;
}

.butt:hover {
    background:linear-gradient(to bottom, #FF4365, #FFB433);
}
